h1{
    color: black;
    align-items: center;
    padding-left: 34%;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    border-radius: 80px;
    width: 330px;
    padding: 10px;
       
}
.todo {
    background-color: gray;
    background-image: url("https://previews.123rf.com/images/liligraphie/liligraphie1512/liligraphie151200425/49645260-vintage-style-light-grey-wooden-background-abstract-wood-texture-natural-pattern.jpg");
}
form{
    padding-left: 5%;
    padding-top: 2%;
}
.p{
    align-items: center;
}
.ok{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 300px;
}


